name = "shortlink"
main = "worker.js"
compatibility_date = "2025-05-01"
compatibility_flags = ["nodejs_compat"]

# KV 命名空间绑定
[[kv_namespaces]]
binding = "URL_DB"
id = "3a2991ef971d48029ccc2f165d1a870e"
preview_id = ""

# 环境变量配置
[vars]
ENVIRONMENT = "production"

# 开发配置
[dev]
ip = "127.0.0.1"
port = 8787
local_protocol = "http"
